MODE="development"
HOST="localhost"
PORT="8001"

SECRET_KEY="your_secret_key_here"
JWT_SECRET="your_jwt_secret_here"
JWT_REFRESH="your_jwt_refresh_secret_here"

DB_HOST="your_DB_HOST_here"
DB_PORT="your_DB_PORT_here"
DB_USER="encryption_your_DB_USER_here"
DB_PASS="encryption _your_DB_PASS_here"
DB_NAME="your_DB_NAME_here"